.label1 {
    -fx-font-family: "Keania One";
    -fx-font-size: 128px;
    -fx-text-fill: black;
    -fx-text-alignment: center;
}
.label2 {
    -fx-text-alignment: center;
    -fx-text-fill: black;
    -fx-font-size: 80px;
    -fx-font-family: "Kelly Slab";
}
.label3 {
    -fx-text-alignment: center;
    -fx-font-size: 24px;
    -fx-font-family: "Kelly Slab";
    -fx-text-fill: black;
}
.grid-label {
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-alignment: center;
    -fx-font-size: 20px;
    -fx-font-family: "Kelly Slab";
    -fx-border-color: black;
    -fx-border-width: 1px;
}
.button1{
    -fx-background-color: #d9d9d9;
    -fx-background-radius: 30px;
    -fx-text-alignment: center;
    -fx-font-size: 50px;
    -fx-font-family: "Kelly Slab";
    -fx-text-fill: black;
}
.button1:hover {
    -fx-background-color: black;
    -fx-text-fill: #d9d9d9;
}
.button2{
    -fx-background-color: #d9d9d9;
    -fx-background-radius: 15px;
    -fx-text-alignment: center;
    -fx-font-size: 24px;
    -fx-font-family: "Kelly Slab";
    -fx-text-fill: black;
}
.button2:hover {
    -fx-background-color: black;
    -fx-text-fill: #d9d9d9;
}
.grid-pane {
    -fx-hgap: 2px;
    -fx-vgap: 2px;
}
.grid-cell {
    -fx-background-color: #d9d9d9;
    -fx-pref-height: 50px;
    -fx-pref-width: 50px;
}
.combo-box {
    -fx-alignment: center;
    -fx-font-family: "Kelly Slab";
    -fx-font-size: 18px;
    -fx-text-fill: black;
}
.warning {
    -fx-alignment: center;
    -fx-font-family: "Kelly Slab";
    -fx-font-size: 18px;
    -fx-text-fill: black;
}

